MC_HOST=mc.fakepixel.me
MC_PORT=25565
MC_VERSION=1.8.9

DEFAULT_MC_PASSWORD=vmallu
DEFAULT_TARGET=v_mallu_gamer

PANEL_USERNAME=vmallu
PANEL_PASSWORD=vmallu

DEFAULT_DURATION_HOURS=12
DEFAULT_MOVE_INTERVAL=10000
DEFAULT_JUMP_INTERVAL=2500
AFK_MOVE_DISTANCE=4

AUTO_RECONNECT=true
RECONNECT_DELAY=5000
CHECK_TIMEOUT_INTERVAL=120000

LOCATION_TOLERANCE=5
MAX_BOTS=20

MAIN_SPAWN_X=-52.500
MAIN_SPAWN_Y=95.74244
MAIN_SPAWN_Z=0.500

SKYBLOCK_HUB_X=-2.500
SKYBLOCK_HUB_Y=70.06250
SKYBLOCK_HUB_Z=-68.000

AUTO_START_BOTS=false
